Source: pbuilder-amd64-helper
Section: utils
Priority: optional
Maintainer: Kirill Rekhov <krekhov.dev@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Homepage: https://github.com/krekhovx/pbuilder-amd64-helper

Package: pbuilder-amd64-helper
Architecture: all
Depends: ${misc:Depends},
         pbuilder,
         debootstrap,
         blhc,
         duck,
         lintian,
         lintian-brush,
         devscripts,
         licensecheck,
         licenserecon
Description: Automates routine work with Debian packages
 This tool wraps around pbuilder, pdebuild, and debootstrap to create a chroot
 environment for amd64 architecture. It facilitates building and testing Debian
 packages within this environment, ensuring that the package adheres to Debian
 Policy standards.
